/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#gaia-signin {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  height: 470px;
}

#signin-right {
  font-size: 12px;
  position: absolute;
  top: 60px;
  width: 200px;
}

/*  For touch-optimized UI, make the links bigger. */
html[touch-optimized] #signin-right {
  font-size: 14px;
}

html[dir=ltr] #signin-right {
  right: -150px;  /* ('gaia-sign'.width - 'signin-frame'.width) / 2 -
                     desiredGap - 'signin-right'.width =
                     (640 - 340) / 2 - 100 - 200 = -150
                   */
}

html[dir=rtl] #signin-right {
  left: -150px;
}

.signin-text {
  color: #666;
  margin-top: 20px;
}

.signin-link {
  color: #254f9b;
  cursor: pointer;
  text-decoration: none;
}

#signin-frame {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  height: 100%;
  width: 340px;
}

#gaia-loading {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Position to be aligned with the login box in iframe  */
#login-box {
  height: 31px;
  position: absolute;
  top: 77px;
  visibility: hidden;
  z-index: -1;
}
