/*
 * Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Outer frame of the dialog. */
body {
   -webkit-box-flex: 1;
   -webkit-box-orient: vertical;
   -webkit-transition: opacity 70ms linear;
   -webkit-user-select: none;
   display: -webkit-box;
   height: 100%;
   margin: 0;
   opacity: 0;
   padding: 0;
   position: absolute;
   width: 100%;
}

button,
input[type='button'],
input[type='submit'] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

button:active,
input[type='button']:active,
input[type='submit']:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

button[disabled],
input[type='button'][disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover {
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
}

/* Drop opacity of selected rows to give a visual feedback on copy/cut
 * operation.*/
.blink{
  opacity: 0.8;
}

.butter-bar {
  -webkit-box-align: end;
  -webkit-box-orient: horizontal;
  -webkit-transition-property: opacity, top;
  -webkit-transition-duration: 300ms;
  background-color: rgba(95, 95, 95, 0.17);
  color: #222;
  display: -webkit-box;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  position: absolute;
  top: 1px;
}

.butter-bar.before-show {
  top: -30px;
  opacity: 0;
}

.butter-bar.after-show {
  top: 50px;
  opacity: 0;
}

.butter-bar .content {
  padding-bottom: 8px;
  padding-right: 5px;
}

.hide-in-butter {
  display: none;
}

.butter-bar .actions {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
}

.butter-bar .actions a {
  background: center center no-repeat;
  background-image: url('../images/close_bar.png');
  display: inline-block;
  height: 12px;
  padding: 4px;
  width: 12px;
}

.butter-bar.error {
  background-color: rgba(221, 75, 57, 0.2);
  border: 1px solid rgba(221, 75, 57, 0.5);
  border-radius: 2px;
  padding: 2px 1em;
}

.progress-bar {
  border: 1px solid #999;
  margin-top: 3px;
  padding: 1px;
  width: 320px;
}

.progress-track {
  -webkit-animation-name: bg;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color:#ccc;
  background-image: -webkit-linear-gradient(315deg, transparent,
      transparent 33%, rgba(0,0,0,0.12) 33%, rgba(0,0,0,0.12) 66%,
      transparent 66%, transparent);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 16px 8px;
  height: 5px;
}

@-webkit-keyframes bg {
  0% { background-position:0 0; }
  100% { background-position:-16px 0; }
}

/* The top title of the dialog. */
.dialog-title {
  -webkit-box-sizing: border-box;
  -webkit-padding-start: 15px;
  background-image: -webkit-linear-gradient(top, #fff,#f6f6f6);
  border-bottom: 1px #d6d9e3 solid;
  color: #42506c;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Main part of the dialog between header and footer. */
.dialog-container {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  overflow: hidden;
  -webkit-box-flex: 1;
}

/* List/grid and preview are inside this container. */
.dialog-main {
  -webkit-box-flex: 1;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
}

/* Roots list at the left. */
.dialog-sidebar {
  position: relative;
  -webkit-box-flex: 0;
  width: 169px;
  margin-left: -169px;
  background-color: #e6e6e6;
  -webkit-transition: margin-left 180ms ease;
  overflow: hidden;
}

.dialog-container[sidebar] .dialog-sidebar {
  margin-left: 0;
}

/* Roots list at the left. */
list.roots-list {
  border-right: 1px solid #d2d2d2;
}

list.roots-list > * {
  border: none;
  border-radius: 0;
  height: 39px;
  margin: 0;
  padding: 0 5px;
  background-color: #e6e6e6;
}

list.roots-list > [lead][selected],
list.roots-list > [lead],
list.roots-list > [selected],
list.roots-list > [anchor] {
  background-color: #ccdbf3;
  background-image: none;
  height: 37px;
  border-top: 1px solid #c3d2e9;
  border-bottom: 1px solid #c3d2e9;
}

list.roots-list > [lead]:hover,
list.roots-list > [lead][selected]:hover,
list.roots-list > [selected]:hover,
list.roots-list > [anchor]:hover {
  height: 37px !important;
  background-color: rgb(0, 0, 0, 0.5) !important;
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}



list.roots-list li.root-item {
  display: -webkit-box;
  -webkit-box-align: center;
  padding-left: 11px;
}

li.root-item > * {
  display: block;
  margin-right: 5px;
}

li.root-item > .root-label {
  max-width: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li.root-item > .spacer {
  -webkit-box-flex: 1;
}

.root-label {
  -webkit-padding-start: 38px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.breadcrumbs .root-label {
  background-position: left center;
  -webkit-padding-start: 34px;
}

.root-label[icon=downloads] {
  background-image: url('../images/downloads_28x28.png');
  background-position: 0 -2px;
}

.breadcrumbs .root-label[icon=downloads] {
  background-image: url('../images/downloads_24x24.png');
}

.root-label[icon=gdata] {
  background-image: url('../images/gdata_28x28.png');
  background-position: 0 -2px;
}

.breadcrumbs .root-label[icon=gdata] {
  background-image: url('../images/gdata_24x24.png');
  background-position: 0 -2px;
}

.root-label[icon=archive] {
  background-image: url('../images/archive_28x28.png');
  background-position: 0 -2px;
}

.breadcrumbs .root-label[icon=archive] {
  background-image: url('../images/archive_24x24.png');
}

.root-label[icon=removable] {
  background-image: url('../images/usb_source_28x28.png');
  background-position: 0 -3px;
}

.breadcrumbs .root-label[icon=removable] {
  background-image: url('../images/usb_source_24x24.png');
  background-position: 0 0;
}

.root-label[icon=unreadable] {
  background-image: url('../images/usb_source_28x28.png');
  background-position: 0 0;
}

.dialog-container[sidebar] .breadcrumbs .root-label {
  -webkit-padding-start: 0;
  background-image: none;
}

div.root-eject {
  opacity: 0.5;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-bottom: 2px;
  background-image: url('../images/eject.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  -webkit-transition: opacity 70ms linear;
}

div.root-eject:hover {
  opacity: 1;
}

/* Breadcrumbs and things under the title but above the list view. */
.dialog-header {
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  display: -webkit-box;
  margin-right: 10px;
  margin-bottom: 7px;
  margin-top: 5px;
  -webkit-transition: all 180ms ease;
 }

/* Container for the detail and thumbnail (not implemented yet) list views. */
.dialog-container[sidebar] .dialog-header {
  margin-left: 0;
}

/* Close sidebar button. */
div.close-sidebar {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 6px;
  display: none;
  z-index: 10;
  background-color: white;
  border: 1px solid #d2d2d2;
  border-right: none;
  width: 14px;
  height: 26px;
  background-image: url('../images/close_sidebar.png');
  background-position: center center;
  background-repeat: no-repeat;
}

div.close-sidebar:hover {
  background-color: rgba(240,240,240,1);
}

/* Open sidebar button. */
div.open-sidebar {
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  margin-top: 1px;
  width: 15px;
  height: 28px;
  background-image: url('../images/open_sidebar.png');
  background-position: center center;
  background-repeat: no-repeat;
}

div.open-sidebar:hover {
  background-color: rgba(240,240,240,1);
}

.dialog-container[sidebar] div.open-sidebar {
  display: none;
}

.dialog-container[sidebar] div.close-sidebar {
  display: block;
}

/* Container for the detail and thumbnail list views. */
.dialog-body {
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  border-top: 1px solid #d4d4d4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-transition: all 180ms ease;
}

.dialog-container[sidebar] .dialog-body {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

/* Container for the ok/cancel buttons. */
.dialog-footer {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  margin: 15px;
  margin-top: 0;
}

/* The container for breadcrumb elements. */
.breadcrumbs {
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  -webkit-margin-end: 5px;
  display: -webkit-box;
  -webkit-box-align: center;
  line-height: 20px;
  padding-top: 1px;
  overflow: hidden;
}

.breadcrumbs > [collapsed]:before {
  content: '...';
}

.breadcrumbs > [collapsed] {
  width: 1em;
}

.dialog-container[sidebar] .breadcrumbs {
  margin-left: 10px;
}

/* A single directory name in the list of path breadcrumbs. */
.breadcrumb-path {
  color: #265692;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* The final breadcrumb, representing the current directory. */
.breadcrumb-last {
  color: black;
  cursor: default;
}

/* The > arrow between breadcrumbs. */

.breadcrumbs .separator {
  overflow: hidden;
  width: 25px;
  background-image: url('../images/breadcrumb-separator.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 10px;
}

.dialog-header button {
  -webkit-border-radius: 0;
  border: none;
  height: 28px;
  min-width: 0;
  padding: 0;
  background-position: left top;
  background-repeat: no-repeat;
}

/* button:hover and button[disabled]:hover rules must be override by placing
 * the following four rules after them.
 */
button.detail-view {
  background-image: url('../images/icon_list_view_off.png');
  width: 29px;
  border-right: 1px solid #9d9d9d;
}

button.thumbnail-view {
  background-image: url('../images/icon_thumb_view_off.png');
  width: 28px;
}

button.detail-view[disabled] {
  background-image: url('../images/icon_list_view_on.png');
}

button.thumbnail-view[disabled] {
  background-image: url('../images/icon_thumb_view_on.png');
}

.filelist-panel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}

.list-container {
  display: -webkit-box;
  -webkit-box-flex: 1;
  position: relative;
}

.spinner {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -11px;
  background-image: url(../images/spinner.svg);
  background-size: 100%;
  opacity: 0.5;
}

.downloads-warning {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 57px;
  background-color: #f0f0f0;
  font-size: 13px;
  color: #666;
  -webkit-box-align: center;
  overflow: hidden;
  -webkit-transition: height 70ms linear;
}

.downloads-warning[hidden] {
  height: 0;
}

.downloads-warning img {
  display: -webkit-box;
  padding: 15px;
}

.downloads-warning div {
  display: -webkit-box;
  -webkit-box-flex: 1;
}

/* The cr.ui.Grid representing the detailed file list. */
.thumbnail-grid {
  width: 100%;
  overflow-y: auto;
}

/* An item in the thumbnail view. */
.thumbnail-item {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;  
  width: 120px;
  height: 145px;
  text-align: center;
}

.thumbnail-item > input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
}

/* When changing these properties please preserve these conditions:
   1. width == height (so that the rotated thumbnail does not look off-center)
   2. width % 8 == 0 (to minimize rounding errors in the centering code) */
div.img-container {
  position: relative;
  overflow: hidden;
  margin: 4px;
  width: 112px;
  height: 112px;
}

div.img-container > img {
  position: absolute;
}

.list-container list > *,
.list-container grid > * {
  background-image: none;
  border-radius: 0;
  line-height: 30px;
}

.list-container list > [selected],
.list-container grid > [selected] {
  background-color: #cbdbf1;
  border-color: #e0e9f7;
}

.list-container list > [selected]:hover,
.list-container grid > [selected]:hover {
  background-color: #c1d3ec;
}

.list-container list > :hover,
.list-container grid > :hover {
  background-color: #f2f6fa;
  border-color: #f2f6fa;
}

.table-row-cell .filename-label,
.thumbnail-item .filename-label,
/* Show ellipsis in cells. The name column has different structure and overrides
   this rule. */
.table-row-cell > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

/* Text box used for renaming in the detail list. */
.table-row-cell input.rename {
  line-height: 20px;
  -webkit-margin-start: -3px;
}

/* Elements that need to be LTR even in an RTL context, but should align
 * left. Display size in Hebrew is such a case.
 */
html[dir='rtl'] .align-end-weakrtl {
  direction: ltr;
  text-align: left;
}

input.rename {
  font: inherit;
  text-align: inherit;
  line-height: 1;
}

.table-row-cell .filename-label,
.table-row-cell input.rename {
  -webkit-box-flex: 1;
}

[renaming] > .filename-label {
  display: none;
}

/* Text box used for renaming in the thumbnail list. */
.thumbnail-grid input.rename {
  -webkit-margin-start: -1px;
  width: 114px;
  height: 20px;
  -webkit-box-sizing: border-box;
}

/* The cr.ui.Table representing the detailed file list. */
.detail-table {
  width: 100%;
  border: 0;
}

/* Bottom pane describing current selection. */
.preview-panel {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-align: center;
  height: 61px;
  background-color: #F0F0F0;
  padding: 0 14px;
  position: relative;
  z-index: 3;

  opacity: 1;
  -webkit-transform: translate(0, 0);
}

.preview-panel[visibility=hiding] {
  /* Using all seems to cause preview panel and checkbox flicking issue. */
  -webkit-transition: opacity 220ms ease;
  -webkit-transform: translate(0, 5px);
   opacity: 0;
}

.preview-panel[visibility=hidden] {
  display: none;
  opacity: 0;
}

.preview-thumbnails {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 39px;
}

.preview-thumbnails > div {
  width: 45px;
  height: 45px;
  position: relative;
  margin: 0 0 0 -39px;  /* Show 7 pixels of the overlapped image */
}

.preview-thumbnails > div > div.img-container {
  margin: 0;
  width: 45px;
  height: 45px;
}

.preview-thumbnails > div {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #F2F2F2;
}

.preview-thumbnails > div > div.popup {
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #F0F0F0,
              0 0 0 2px #D0D0D0,
              2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #F2F2F2;
  margin: 0;
  z-index: 1;
  pointer-events: none;
  position: absolute;

  -webkit-transition: all 180ms ease-in;
  -webkit-transition-delay: 300ms;

  -webkit-transform: translate(0, 3px) scale(0.95);
  opacity: 0;
}

.preview-thumbnails > div:hover > div.popup {
  -webkit-transform: translate(0, 0) scale(1.0);
  opacity: 1;
  pointer-events: auto;
}

/* cr.ui.Table has a black focus border by default, which we don't want. */
.detail-table:focus {
  border: 0;
}

/* Table splitter element */
.table-header-splitter {
  -webkit-border-start: 1px #aaa solid;
  background-color: inherit;
  height: 27px;
  width: 20px;
}

/* Container for a table header. */
.table-header {
  -webkit-box-sizing: border-box;
  border-bottom: 1px #d2d2d2 solid;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e8e8e8);
  height: 27px;
}

.table-header-sort-image-desc::after {
  -webkit-padding-start: 13px;
  color: #888;
  background-image: url(../images/sort_desc.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: '\00a0';
  position: relative;
  top: 0px;
}

.table-header-sort-image-asc::after {
  -webkit-padding-start: 13px;
  color: #888;
  background-image: url(../images/sort_asc.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: '\00a0';
  position: relative;
  top: 0px;
}


.preview-container .table-header {
  border-radius: 0 4px 0 0;
}

/* Text label in a table header. */
.table-header-label {
  margin: 5px 10px 0 10px;
}

.table-row-cell > * {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  margin: 0;
  padding: 0 10px;
}

.table-row-cell > .detail-name {
  display: -webkit-box;
}

.file-checkbox {
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  position: relative;
  z-index: 2;
}

.file-checkbox,
.pin {
  opacity: 0.3;
}

#select-all-checkbox {
  -webkit-margin-start: 0;
  -webkit-margin-end: 6px;
  margin-top: 0;
  margin-bottom: 0;

  /* 1px below text */
  position: relative;
  top: 1px;
}

li.thumbnail-item .file-checkbox {
  -webkit-margin-start: 7px;
  margin-top: 6px;
  opacity: 0;
  background-color: green;
}

li.table-row:hover .file-checkbox,
li.table-row:hover .pin,
li.thumbnail-item:hover .file-checkbox {
  opacity: 0.5;
}

.file-checkbox:hover,
.pin:hover,
li.table-row[selected] .file-checkbox,
li.table-row[selected] .pin,
li.table-row .pin:checked,
li.thumbnail-item[selected] .file-checkbox {
  opacity: 1 !important;
}

li.table-row {
  line-height: 38px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* The icon in the name column. */
.detail-icon {
  background-image: url(../images/filetype_generic.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

/* Icon for files in the detail list. */
.detail-icon[iconType="archive"] {
  background-image: url(../images/filetype_archive.png);
}

.detail-icon[iconType="audio"] {
  background-image: url(../images/filetype_audio.png);
}

.detail-icon[iconType="device"] {
  background-image: url(../images/filetype_device.png);
}

.detail-icon[iconType="doc"] {
  background-image: url(../images/filetype_doc.png);
}

.detail-icon[iconType="excel"] {
  background-image: url(../images/filetype_excel.png);
}

.detail-icon[iconType="folder"] {
  background-image: url(../images/filetype_folder.png);
}

.detail-icon[iconType="html"] {
  background-image: url(../images/filetype_html.png);
}

.detail-icon[iconType="image"] {
  background-image: url(../images/filetype_image.png);
}

.detail-icon[iconType="pdf"] {
  background-image: url(../images/filetype_pdf.png);
}

.detail-icon[iconType="ppt"] {
  background-image: url(../images/filetype_ppt.png);
}

.detail-icon[iconType="presentation"] {
  background-image: url(../images/filetype_presentation.png);
}

.detail-icon[iconType="spreadsheet"] {
  background-image: url(../images/filetype_spreadsheet.png);
}

.detail-icon[iconType="text"] {
  background-image: url(../images/filetype_text.png);
}

.detail-icon[iconType="unreadable"] {
  background-image: url(../images/filetype_unreadable_device.png);
}

.detail-icon[iconType="video"] {
  background-image: url(../images/filetype_video.png);
}

.detail-icon[iconType="word"] {
  background-image: url(../images/filetype_word.png);
}

.detail-icon[iconType="gdoc"] {
  background-image: url(../images/filetype_doc.png);
}

.detail-icon[iconType="gsheet"] {
  background-image: url(../images/filetype_spreadsheet.png);
}

.detail-icon[iconType="gslides"] {
  background-image: url(../images/filetype_presentation.png);
}

.detail-icon[iconType="gdraw"] {
  background-image: url(../images/filetype_drawing.png);
}

.detail-icon[iconType="gtable"] {
  background-image: url(../images/filetype_table.png);
}

/* The filename text in the preview pane. */
.preview-filename {
  -webkit-margin-start: 8px;
  color: #666;
  font-weight: bold;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* The preview image. */
.preview-img {
  margin-top: 10px;
  max-height: 300px;
  max-width: 190px;
}

.preview-img.thumbnail {
  padding: 1px;
  border: 1px #666 solid;
  -webkit-background-clip: content-box;

  /* Checkboard background to distinguish images with alpha channels, from
   * ../images/preview-background.png
   */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAAlwSFlzAAAOTQAADiYBwNzaZQAAAAd0SU1FB9sDExUSAaQ/5TMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAQ0lEQVRYw+3VsQkAMQwDQOfJRt7r9/FQ3ilDuAiBUy84UKFVVX8M0t2TenxxOQAAAAAAAAB7+ueZaQIAAAAAAIC3AQceAAfi8EmRSgAAAABJRU5ErkJggg==);
}

.preview-img[src=''] {
  visibility: hidden;
}

/* Decoration when multiple images are selected. */
.preview-img.multiple-selected {
  -webkit-box-shadow: 5px 5px 0 #aaa;
}

.metadata-item {
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-padding-start: 8px;
}

.metadata-label {
  -webkit-margin-end: 6px;
}

.preview-panel .spacer {
  -webkit-box-flex: 1;
}

.delete-button {
  -webkit-margin-start: 8px;
  -webkit-margin-end: 8px;
}

.task-item {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: left;
  padding: 5px;
  -webkit-padding-end: 10px;
  -webkit-padding-start: 10px;
}

.task-item > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}

.task-item > img {
  -webkit-margin-end: 5px;
}

/* The selection summary text at the bottom of the preview pane. */
.preview-summary {
  -webkit-box-flex: 1;
  color: #666666;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.dialog-footer .filename-label {
  -webkit-box-orient: horizontal;
  color: #666;
  display: -webkit-box;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 4px;
}

.detail-name > * {
  display: -webkit-box;
  -webkit-box-align: center;
}

.filename-input {
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  display: -webkit-box;
}

/* A horizontal spring. */
.horizontal-spacer {
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  display: -webkit-box;
}

/* A vertical spring. */
.vertical-spacer {
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  display: -webkit-box;
}

/* Overlay pane covering the entire file manager window (e.g. image editor)*/
.overlay-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 100;
}

menu.file-context-menu {
  z-index: 4;
}

input.common.pin[type="checkbox"]:checked::after {
  content: url('../images/pin.png');
  left: 3px;
  top: -4px;
}

div.offline {
  -webkit-box-pack: center;
  display: -webkit-box;
}

div.offline > * {
  -webkit-box-align: center;
  display: -webkit-box;
}
