<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <title>{% block title %}{% endblock %}Chromium Build Logs</title>
</head>

<body>
  <div style="color: red">WARNING: the app had problems with overloading buildbot. It's recovering now, slowly. Some data is missing and incomplete.</div>
  {% block content %}{% endblock %}
</body>
</html>
