<div id="systemPage" class="page" hidden>
  <h1 i18n-content="systemPage"></h1>
  <div class="displaytable">
    <section>
      <h3 i18n-content="datetimeTitle"></h3>
      <div class="option-control-table">
        <span class="option-name" i18n-content="timezone"></span>
        <div id="timezone-value">
          <select id="timezone-select" class="control"
              i18n-options="timezoneList"
              data-type="string"
              pref="cros.system.timezone"></select>
        </div>
        <div class="checkbox">
          <label>
            <input id="use-24hour-clock"
                pref="settings.clock.use_24hour_clock"
                type="checkbox">
            <span i18n-content="use24HourClock"></span>
          </label>
        </div>
      </div>
    </section>
    <section>
      <h3 i18n-content="screen"></h3>
      <div id="brightness-value">
        <span i18n-content="brightness"></span>
        <button id="brightness-decrease-button"
            i18n-content="brightnessDecrease"></button>
        <button id="brightness-increase-button"
            i18n-content="brightnessIncrease"></button>
      </div>
    </section>
    <section id="input-controls">
      <h3 i18n-content="pointer"></h3>
      <div class="option-control-table">
        <span class="option-name" i18n-content="sensitivity"></span>
        <div id="pointer-value">
          <div id="slider-control">
            <input id="sensitivity-range" type="range" min="1" max="5"
                pref="settings.touchpad.sensitivity2" class="touch-slider">
            <div>
              <span i18n-content="sensitivityLess"></span>
              <span i18n-content="sensitivityMore"
                  class="pointer-sensitivity-more"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="touchpad-controls" hidden>
      <h3 i18n-content="touchpad"></h3>
      <div class="option-control-table">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                pref="settings.touchpad.enable_tap_to_click">
            <span i18n-content="enableTapToClick"></span>
          </label>
        </div>
      </div>
    </section>
    <section id="mouse-controls" hidden>
      <h3 i18n-content="mouse"></h3>
      <div class="option-control-table">
        <div class="checkbox">
          <label>
            <input type="checkbox" pref="settings.mouse.primary_right">
            <span i18n-content="primaryMouseRight"></span>
          </label>
        </div>
      </div>
    </section>
    <!-- By default, the bluetooth section is hidden.  It is only
         visible if the command line flag --enable_bluetooth is set
         and a bluetooth adapter is discovered or emmulating ChromeOS. -->
    <section id="bluetooth-devices" hidden>
      <h3 i18n-content="bluetooth"></h3>
      <div id="bluetooth-options-div">
        <div class="checkbox">
          <label>
            <input type="checkbox" id ="enable-bluetooth">
            <span i18n-content="enableBluetooth">
          </label>
        </div>
        <div class="settings-list bluetooth-device-list" hidden>
          <list id="bluetooth-paired-devices-list"></list>
          <div id="bluetooth-paired-devices-list-empty-placeholder"
              class="bluetooth-empty-list-label" hidden>
            <span i18n-content="bluetoothNoDevices"></span>
          </div>
        </div>
        <div id="bluetooth-button-group">
          <button id="bluetooth-add-device"
              i18n-content="addBluetoothDevice" hidden></button>
          <button id="bluetooth-reconnect-device"
              i18n-content="bluetoothConnectDevice" disabled hidden></button>
        </div>
      </div>
    </section>
    <section>
      <h3 i18n-content="language"></h3>
      <div class="option-control-table">
        <div class="option-name">
          <button id="language-button" i18n-content="languageCustomize">
          </button>
        </div>
        <div class="option-name">
          <button id="modifier-keys-button"
              i18n-content="modifierKeysCustomize"></button>
         </div>
      </div>
    </section>
    <section>
      <h3 i18n-content="accessibilityTitle"></h3>
      <div class="option-control-table">
        <div class="option-name">
          <div class="checkbox">
            <label>
              <input id="accessibility-spoken-feedback-check" type="checkbox">
              <span i18n-content="accessibilitySpokenFeedback"></span>
            </label>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
