/*
 * Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.timeline * {
  -webkit-user-select: none;
  cursor: default;
}

.timeline-drag-box {
  background-color: rgba(0, 0, 255, 0.25);
  border: 1px solid #000060
  font-size: 75%;
  position: fixed;
}

.timeline-thread-track {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding: 1px 0;
  position: relative;
}

.timeline-track-close-button {
  left: 0px;
  position: absolute;
  top: 0px;
}

.timeline-track-button {
  color: rgba(0,0,0,0.1);
  font-size: 10px;
  height: 12px;
  text-align: center;
  width: 12px;
}
.timeline-track-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25%;
  box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.5);
}

.timeline-thread-track:not(:first-child) {
  border-top: 1px solid #D0D0D0;
}

.timeline-canvas-based-track {
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  background-color: white;
  display: -webkit-box;
  margin: 0;
  padding: 0;
  padding-right: 5px;
}

.timeline-canvas-based-track-title {
  overflow: hidden;
  padding-right: 5px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeline-canvas-based-track-canvas-container {
  -webkit-box-flex: 1;
  width: 100%;
}

.timeline-canvas-based-track-canvas {
  -webkit-box-flex: 1;
  display: block;
  height: 100%;
  width: 100%;
}

.timeline-viewport-track {
  height: 12px;
}

.timeline-slice-track {
  height: 18px;
}

.timeline-counter-track {
  height: 30px;
  position: relative;
}
