<html>
<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="6">
<style type="text/css">
div.status-message {
  margin-bottom: 1em;
  padding: 0.5em;
  font-weight: normal;
  font-size: 16px;
  font-family: Verdana, Cursor;
  text-align: center;
  color: black;
  border-top-right-radius: 24px;
  -webkit-border-top-right-radius: 24px;
  -moz-border-radius-topright: 1em;
  border-top-left-radius: 24px;
  -webkit-border-top-left-radius: 24px;
  -moz-border-radius-topleft: 1em;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
div.open {
  background-color: #8fdf5f;
}
div.closed {
  background-color: #e98080;
}
div.maintenance {
  background-color: #e0b0ff;
}
div.throttled {
  background-color: #fffc6c;
}
</style>

<center>
  <div class="status-message {{ state }}">{{ message }} </div>
</center>

</body>
</html>
