<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html 
 xmlns="http://www.w3.org/1999/xhtml"
 lang="en"
 xml:lang="en"> 
<head> 
  <title>BuildBot: Chromium</title> 
  <link href="/static/buildbot.css" rel="stylesheet" type="text/css"/>
  <script src="/static/console.js"></script>

  <style type="text/css">
    div#guser {
      text-align: right;
    }
  </style>
</head>
<body>

<div id="guser" width="100%">
  <nobr>
    {%if user%}
    {{user.email}}
    {%if is_manager%}
    | <a class="novisit" href="{{console_url}}">Console</a>
    | <a class="novisit" href="{{manage_url}}">Manage</a>
    | <a class="novisit" href="{{sign_out}}">Sign out</a>
    {%else%}
    | <a class="novisit" href="{{sign_out}}">Sign out</a>
    {%endif%}
    {% else %}
    <a class="novisit" href="{{sign_in}}">Sign in</a>
    {%endif%}
  </nobr>
</div>

{% block content %}
{% endblock %}

</body>
</html>
