<div id="keyboard-overlay" class="page" hidden>
  <div class="close-button"></div>
  <h1 i18n-content="keyboardOverlayTitle"></h1>
  <div class="content-area">
    <table class="option-control-table">
       <tr>
         <td class="option-name" i18n-content="xkbRemapSearchKeyToContent"></td>
         <td class="option-value">
           <select id="xkb-remap-search-key-to" class="control"
                data-type="number" i18n-options="xkbRemapSearchKeyToValue"
                pref="settings.language.xkb_remap_search_key_to"></select>
         </td>
       </tr>
       <tr>
         <td class="option-name"
             i18n-content="xkbRemapControlKeyToContent"></td>
         <td class="option-value">
           <select id="xkb-remap-control-key-to" class="control"
                data-type="number" i18n-options="xkbRemapControlKeyToValue"
                pref="settings.language.xkb_remap_control_key_to"></select>
         </td>
       </tr>
       <tr>
         <td class="option-name" i18n-content="xkbRemapAltKeyToContent"></td>
         <td class="option-value">
           <select id="xkb-remap-alt-key-to" class="control" data-type="number"
                pref="settings.language.xkb_remap_alt_key_to"
                i18n-options="xkbRemapAltKeyToValue"></select>
         </td>
       </tr>
    </table>
  </div>
  <div class="action-area">
    <div class="button-strip">
      <button id="keyboard-overlay-dismiss-button"
          i18n-content="close"></button>
    </div>
  </div>
</div>
